{% extends 'base.html.twig' %}

{% block body %}


<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row navbar-danger" style="background-color: #8B0000;">
    
    <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center" style="background-color: #8B0000;">
        <a class="navbar-brand brand-logo" href="/" style="color:white; font-weight:bold;">
             PRONIC
             {# <img src="{{ asset('assets/images/logo.png') }}" alt="logo" /> #}
        </a>
    </div>

    <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        

        <ul class="navbar-nav navbar-nav-right">
            
            
            <li id="item-it-infrastructure" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle app-icon d-flex justify-content-center align-items-center" href="#" data-toggle="dropdown" id="profileDropdown" title="{{ "IT infrastrucute"|trans}}">
                    <i class="mdi mdi-keyboard"></i> {# J'ai mis mdi car gj-keyboard n'existe peut-être plus #}
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                    <a href="#" class="dropdown-item">Liste des appareils (Route à refaire)</a>
                    <a href="#" class="dropdown-item">Nouvel appareil</a>
                    <a href="#" class="dropdown-item">Carte Pronic IT</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle app-icon d-flex justify-content-center align-items-center" href="#" data-toggle="dropdown" title="{{ "Commercial"|trans}}">
                    <i class="mdi mdi-currency-usd"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown">
                    <a href="#" class="dropdown-item">{{ "Documents"|trans}}</a>
                    <a href="#" class="dropdown-item">{{ "Pronic Inc"|trans}}</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle app-icon d-flex justify-content-center align-items-center" href="#" data-toggle="dropdown" title="Production">
                    <i class="mdi mdi-factory"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown">
                    <a href="#" class="dropdown-item">Analyse des besoins</a>
                </div>
            </li>

            <li class="nav-item nav-profile dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                    <img src="https://ui-avatars.com/api/?name={{ app.user.userIdentifier|default('User') }}" alt="profile" style="border-radius:50%; width:30px;"/>
                    
                    <span class="nav-profile-name" style="color: white; margin-left: 10px;">
                        {% if app.user %}
                            {{ app.user.userIdentifier }}
                        {% else %}
                            Invité
                        {% endif %}
                    </span>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                    <a href="#" class="dropdown-item">
                        <i class="mdi mdi-settings text-primary"></i>
                        {{ "Settings"|trans}}
                    </a>
                    <a href="{{ path('app_logout') }}" class="dropdown-item">
                        <i class="mdi mdi-logout text-primary"></i>
                        {{ "Logout"|trans}}
                    </a>
                </div>
            </li>

        </ul>
        
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
        </button>
    </div>
</nav>
{% endblock %}